body{
    color: white;
    background-color: black;
    text-align: center;
}
hr{
    width: 75%;
    

}
.Title{
    text-align: center;
    margin-left: 10pt;
    
}

.links{
    text-align: center;
    color: aqua;

}