body{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Montserrat';
}
hr{
    width: 75%;
}

a{
    text-align: center;
    color: aqua;
    text-decoration: none;

}
.links{
    display: inline;
}
.menu{
    padding-inline-start: 4%;
    padding-inline-end: 4%;
}
.decoration{
    border-left: 6px solid aqua;
    height: 100%;
    top: 20%;
    position: absolute;
    left: 5%;
    margin-right: 5px;

}
.decoration-op{
    border-left: 6px solid aqua;
    height: 100%;
    top: 20%;
    position: absolute;
    left: 95%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar{
    display: flex;
    
}
.arrow{
    color: white;
}
.Title{
    text-align: center;
    margin-left: 44%;
    
}
.title-flutter{
    text-align: center;
    margin-left: 37%;
}
.main-title{
    text-align: center;
}
.project-link{  
    padding-inline-start: 4%;
    padding-inline-end: 4%;
    font-size: 40px;
}
.scroll-content{
    width: 75%;
    height: 75%;
    overflow: scroll;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    font-family: 'Montserrat';
}

.about-me-content{
    margin: auto;
    text-align: center;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    font-size: 20px;
    font-weight: bold;
    line-height:  40px;
}

.blue{
    border-color: aqua;
}
.project-title{
    text-align: center;
    margin-left: 41%;
}
